<div class="static-page">

    <header>
        <h2>Contact</h2>
    </header>

    <div id="contact-map-container">
        <div id="contact-map"></div>
        <div class="contact-info">
            <h3>TakeHotter</h3>
            <div class="row">
                <div class="columns large-6">
                    TakeHotter<br/>
                    728 Lakeside Drive<br/>
                    Winter Springs, Florida 32708<br/>
                    Phone: 407-431-2214<br/>
                    Email: <a href="mailto:info@TakeHotter.com">info@TakeHotter.com</a>
                </div>
                <div class="columns large-6">
                    <p>TakeHotter is dedicated to helping families find the perfect caregiver.</p>
                    <br/>
                    <%= link_to 'Meet our team', web_team_path, class: "btn main"%>
                </div>
            </div>
        </div>
    </div>

</div>